[run]
source =
    library/

parallel = True
concurrency = multiprocessing
relative_files = True

omit =
    *settings.py
    *tests*
    */tests/*
    */migrations/*
    */urls.py
    *__init__*
    *wsgi.py
    *manage.py
    *apps.py
    *env*
    *venv*
    *storage.py
    *asgi.py
    */contrib/*
    Dockerfile*

[report]
precision = 2
show_missing = True
skip_empty = True
fail_under = 60
ignore_errors = True